@charset "utf-8";

/* If Width Larger than 1366px */
@media only screen and (min-width: 1367px) {
}
/* If Width Smaller than 1366px */
@media only screen and (max-width: 1366px) {
}
/* If Width Smaller than 768px */
@media only screen and (max-width: 768px) {
}
/* If Width Larger than 480px */
@media only screen and (min-width: 481px) {
  ul.projects li {
    display: inline-block !important;
  }
}
/* If Width Smaller than 480px */
@media only screen and (max-width: 480px) {
  .title {
    font-size: 3em !important;
    margin: 0 0 0.5em 0 !important;
  }
  ul.projects li {
    display: block !important;
    margin: 0.5em 0 !important;
  }
}
/* If Height Larger than 480px */
@media only screen and (min-height: 480px) {
}
/* If Height Smaller than 480px */
@media only screen and (max-height: 480px) {
}
/* If Height Larger than 720px */
@media only screen and (min-height: 720px) {
  .container {
    margin: -15% auto 0 auto !important;
  }
}
/* If Height Smaller than 720px */
@media only screen and (max-height: 720px) {
}

@font-face {
    font-family: 'calendas_plus';
    src: url('../fonts/calendas_plus-webfont.eot');
    src: url('../fonts/calendas_plus-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/calendas_plus-webfont.woff2') format('woff2'),
         url('../fonts/calendas_plus-webfont.woff') format('woff'),
         url('../fonts/calendas_plus-webfont.ttf') format('truetype'),
         url('../fonts/calendas_plus-webfont.svg#calendas_plusregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'calendas_plus_italic';
    src: url('../fonts/calendas_plus_italic-webfont.eot');
    src: url('../fonts/calendas_plus_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/calendas_plus_italic-webfont.woff2') format('woff2'),
         url('../fonts/calendas_plus_italic-webfont.woff') format('woff'),
         url('../fonts/calendas_plus_italic-webfont.ttf') format('truetype'),
         url('../fonts/calendas_plus_italic-webfont.svg#calendas_plusitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'calendas_plus', serif;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern=1";
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #171717;
  color: #5d5d64;
}
a {
  color: #5d5d64;
  text-decoration: none;
  -o-transition:.4s;
  -ms-transition:.4s;
  -moz-transition:.4s;
  -webkit-transition:.4s;
  transition:.4s;
}
a:hover {
  color: #fff; /* #af8f1c */
  text-decoration: none;
}
img {
  border: 0;
}
li img {
  display: block;
}
.container {
  width: 100%;
  max-width: 1170px;
  /*height: 50%;*/
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
.title {
  opacity: 0;
  font-family: 'calendas_plus', serif;
  font-size: 5em;
  letter-spacing: -2px;
  line-height: 1em;
  margin: 0 0 0.2em 0;
  cursor: default;
}
/*.title-line {
    list-style-type: none;
    height: 1px;
    width: 90%;
    margin: 0 auto 2em auto;
    background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 50%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 50%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 );
}*/
ul.projects {
  margin: 0;
  padding: 0;
}
ul.projects li {
  opacity: 0;
  display: inline-block;
  position: relative;
  margin: 0 1em;
  list-style-type: none;
  text-align: center;
  font-size: 2em;
}
/* ul.projects li:hover:before {
    content: "~";
    position: absolute;
    bottom: -15px;
    left:calc(50% - 4px);
    cursor: default;
} */
ul.communities {
  margin: 2em 0 0 0;
  padding: 0;
}
ul.communities li {
  opacity: 0;
  display: inline-block !important;
  position: relative;
  margin: 0 1em;
  list-style-type: none;
  text-align: center;
  font-size: 1.1em;
}
